<html lang="es">

<head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Ciclista</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-titulo">
                <img src="{{ url_for('static', filename='img/logo.jpeg')}}"
                    alt="Logo Panel Ciclista">
                <h1>Panel Ciclista</h1>
            </div>

        <nav>
            <a href="{{ url_for('inicio')}}">Inicio</a>
            <a href="{{ url_for('competiciones')}}">Competiciones</a>

            {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard')}}">Mi panel</a>
                <a href="{{ url_for('nueva_ruta')}}">Añadir ruta</a>
                <a href="{{ url_for('logout')}}">Cerrar sesión</a>
            {% else %}
                <a href="{{ url_for('login')}}">Acceder</a>
            {% endif %}
        </nav>
    
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}    
                </ul>
            {% endif %}
        {% endwith %}
    </main>

    <footer>
        <div class="footer-content">
            <img src="{{ url_for('static', filename='img/logo.jpeg')}}" alt="Logo Panel Ciclista">
            <p>© 2026 Panel Ciclista - Proyecto final de Curso de Especialización en Python</p>
        </div>
    </footer>
</body>


</html>