{% extends 'base.html' %}

{% block content %}

<div class="dashboard-container">

    <h2> Mi Panel</h2>

    {% if rutas|length == 0 %}
        <p>Aún no has registrado ninguna ruta. </p>
        <a href="{{ url_for('nueva_ruta')}}" class="btn btn-primary">
            Añadir mi primera ruta
        </a>
    {% else %}

        <h3>Mis rutas</h3>

        <table class="tabla-rutas">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Distancia</th>
                    <th>Tiempo</th>
                    <th>Desnivel</th>
                    <th>Tipo</th>
                    <th>Velocidad</th>
                </tr>
            </thead>
            <tbody>
                {% for ruta in rutas %}
                <tr>
                    <td>{{ ruta.fecha }}</td>
                    <td>{{ ruta.distancia }}</td>
                    <td>{{ ruta.tiempo }}</td>
                    <td>{{ ruta.desnivel }}</td>
                    <td>{{ ruta.tipo }}</td>
                    <td>{{ ruta.velocidad|round(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    {% endif %}
</div>

{% endblock %}