{% extends 'base.html' %}

{% block content %}

<h2> Iniciar sesión </h2>

<form method="POST">
    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Contraseña:</label><br>
    <input type="password" name="password" id="password" required><br><br>

    <input type="checkbox" id="mostrarContraseña">
    <label for="mostrarContraseña">Mostrar contraseña</label>

    <br><br>

    <button type="submit">Entrar</button>
</form>

<!-- Hacemos un script que permite tener visible la contraseña si lo deseamos -->
<script>
    const checkbox = document.getElementById("mostrarContraseña")
    const password = document.getElementById("password")

    checkbox.addEventListener("change", function() {
        if (this.checked) {
            password.type = "text";
        } else {
            password.type = "password";
        }
        });
</script>

<p>
    ¿No tienes cuenta aún?
    <a href="{{ url_for('registro')}}">Regístrate aquí</a>
</p>

{% endblock %}