{% extends 'base.html' %}

{% block content %}

<div class="form-container">
    <h2> Crear cuenta </h2>

    <form method="POST">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="email" name="email" id="email" required>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label><br>
            <input type="password" name="password" id="password" required>
        </div>

        <input type="checkbox" id="mostrarContraseña">
        <label for="mostrarContraseña">Mostrar contraseña</label>

        <button type="submit" class="btn-submit">Registrarse</button>

        <p class="form-link">
            ¿Ya tienes cuenta?
            <a href="{{ url_for('login')}}">Inicia sesión</a>
        </p>
    </form>

</div>

<!-- Hacemos un script que permite tener visible la contraseña si lo deseamos -->
<script>
    const checkbox = document.getElementById("mostrarContraseña")
    const password = document.getElementById("password")

    checkbox.addEventListener("change", function() {
        if (this.checked) {
            password.type = "text";
        } else {
            password.type = "password";
        }
        });
</script>
{% endblock%}
